<!DOCTYPE html>
<html>
    <head>
        <title>Automated Report Generation</title>
    </head>
    <body>
        <div class="search-container">
            <input type="text" class="search-input" placeholder="Search-City">
            <button class="Search-button">Search</button>
        </div>
       <div class ="content">
        <div class ="row">
            <div class="image-container">
                <img src="assets/black.png" alt="Black Image" class="selction-image">
            </div>
            <div class="Temperature">
                29 C
                
            </div>
        </div>
        <div class="row">
            <div class="Section-2">
                <div class="top-info">
                    <p>Expected Temperature: Day 32 C & Night 20 C</p>
                </div>
                <div class="bottom-info">
                    <div class="info-box">
                        <p>Humidity : 30%</p>
                    </div>
                    <div class="info-box">
                        <p>Wind Speed : 3 KM/H</p>
                    </div>
                </div>
            </div>

        </div>
       </div>
    </body>
</html>
